What are the steps:
1. what are we covering in this post?
2. when does the need arrive?
  a. size of the file
  b. ram of the machine
  c. one way to explore without any tool
3. Where did we get the dataset from?
3. which are the tools?
  a. sqlite3
    i.   how to dump into a database?
    ii.  how to read from database directly?
    iii. how to read using a dataframe and why it is useful?
  b. dask dataframe
    i.  how does it work?
    ii. what is the use?
  c. mysql or any other relational database
    i.  queries to dump into a database
    ii. reading from mysql
4. where to go from here?
5. references if possible.

In [1]:
#Importing libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
import sqlite3
%matplotlib inline

References
- http://pythondata.com/working-large-csv-files-python/
- http://www.mysqltutorial.org/import-csv-file-mysql-table/
- http://dask.pydata.org/en/latest/dataframe-overview.html
- https://ubuntuforums.org/showthread.php?t=390568
- head -7267115 train.csv | tail -10
- https://pythonspot.com/en/sqlite-database-with-pandas/
- http://chris.friedline.net/2015-12-15-rutgers/lessons/python2/08-working-with-sql.html
- https://www.dataquest.io/blog/python-pandas-databases/

In [2]:
data_file = "./dataset/train.csv"

So, I have usually seen these in the online courses as well as in various blogs, people usually take a toy dataset like iris, mnist, titanic, boston housing, etc and explain the complex concepts. Though this makes it easier to interpret the features and learn the topics; when actually doing machine learning tasks, it is important you practice on a large dataset. Large enough to prove it's an industrial grade project or something that does not fit into your memory.

So, delaying no more, let me tell you that I work on a Ubuntu box with 8GB of RAM. So anything more than 4GB would choke up my system. If you see the below output, the size of data clearly is more than 7GB which is the reason I have to go to the above mentioned tools to seek help.

So, if I dare load this in memory, I have only one option. Hit the power button.

Now, Let's see how our data looks like. And no, we do not need any special tool for this, pandas is self sufficient.

In [109]:
# Remember that the nrow=5 is very important, or else you know that you will need the 'power button'.
pd.read_csv(data_file, nrows=10)

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
0,0,IN,2.0,M,2017-08-21 00:00:01,Google,chrome,Android,NaN,42.111.171.131,False,NaN,0.0,69,NaN,6555.0,0.0
1,1,TH,27.0,A,2017-08-21 00:00:01,Generic,46.0.2490.76,Android,NaN,1.46.235.65,False,NaN,0.0,646,NaN,7510.0,0.0
2,2,IN,4.0,M,2017-08-21 00:00:01,Samsung,chromium,Android,NaN,49.15.91.224,False,NaN,0.0,301,NaN,12696.0,0.0
3,3,PH,-1.0,A,2017-08-21 00:00:01,Generic,android_webkit,Android,NaN,115.42.126.86,False,NaN,0.0,242,NaN,735.0,0.0
4,4,MX,-1.0,NaN,2017-08-21 00:00:01,Generic,chrome,Android,NaN,187.161.11.97,False,NaN,0.0,1306,NaN,7802.0,0.0
5,5,BD,125.0,NaN,2017-08-21 00:00:01,Samsung,chrome,Android,NaN,103.242.21.244,False,NaN,0.0,1306,NaN,2025.0,0.0
6,6,MX,50.0,M,2017-08-21 00:00:01,Zonda,chrome,Android,NaN,187.237.239.5,False,NaN,0.0,55,NaN,12688.0,0.0
7,7,IN,2.0,A,2017-08-21 00:00:01,Motorola,chrome,Android,NaN,42.106.70.46,False,NaN,0.0,1044,NaN,8786.0,0.0
8,8,BR,218.0,NaN,2017-08-21 00:00:01,Generic,android_webkit,Android,ads.advancemobile.net,189.0.123.228,False,NaN,0.0,1031,NaN,4901.0,0.0
9,9,IQ,-1.0,A,2017-08-21 00:00:01,Generic,android_webkit,Android,overtraff.com,93.187.32.6,False,NaN,0.0,282,NaN,5893.0,0.0

We have viewed 5 rows from the entire data. Now, it is time we introduce our first tool. Sqlite3
Steps are as follows:
- create a db
- read chunk by chunk and dump into the db
- do what you want

In [79]:
# create a database
csv_database = create_engine("sqlite:///ads.db")

In [121]:
%%time
# I will use 1 lakh (100k) as the chunksize, so 1 lakh rows will be read at once. You can adjust this
# according to your memory
chunksize = 1#100000
i = 0
j = 1
x = 1
# each time the df will have 1,00,000 rows in it
for df in pd.read_csv(data_file, chunksize=chunksize, iterator=True):
    
    print(df.index)
    df = df.rename(columns={c: c.replace(' ', '') for c in df.columns})
    df.index += j
    i+=1
    df.to_sql('ads', csv_database, if_exists='append')
    j = df.index[-1]
    print(df.UserIp)
        if x == 5:
        break
    x += 1

RangeIndex(start=0, stop=1, step=1)
1    42.111.171.131
Name: UserIp, dtype: object
RangeIndex(start=1, stop=2, step=1)
2    1.46.235.65
Name: UserIp, dtype: object
RangeIndex(start=2, stop=3, step=1)
4    49.15.91.224
Name: UserIp, dtype: object
RangeIndex(start=3, stop=4, step=1)
7    115.42.126.86
Name: UserIp, dtype: object
RangeIndex(start=4, stop=5, step=1)
11    187.161.11.97
Name: UserIp, dtype: object
CPU times: user 208 ms, sys: 8 ms, total: 216 ms
Wall time: 761 ms

In [103]:
df

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
1,0,IN,2.0,M,2017-08-21 00:00:01,Google,chrome,Android,NaN,42.111.171.131,False,NaN,0.0,69,NaN,6555.0,0.0

In [67]:
dfd.rename(columns={c: c.replace(' ', '') for c in df.get_chunk().columns})

/home/raavan/anaconda3/lib/python3.6/site-packages/ipykernel/zmqshell.py:533: DtypeWarning: Columns (11) have mixed types. Specify dtype option on import or set low_memory=False.
  return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)

Empty DataFrame
Columns: []
Index: []

In [68]:
dfd

Empty DataFrame
Columns: []
Index: []

In [73]:
df.columns

Index(['ID', 'Country', 'Carrier', 'TrafficType', 'ClickDate', 'Device',
       'Browser', 'OS', 'RefererUrl', 'UserIp', 'ConversionStatus',
       'ConversionDate', 'ConversionPayOut', 'publisherId', 'subPublisherId',
       'advertiserCampaignId', 'Fraud'],
      dtype='object')

In [83]:
df

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
6,2,IN,4.0,M,2017-08-21 00:00:01,Samsung,chromium,Android,NaN,49.15.91.224,False,NaN,0.0,301,NaN,12696.0,0.0

In [82]:
df.rename(columns={c: c.replace(' ', '') for c in df.columns})

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
6,2,IN,4.0,M,2017-08-21 00:00:01,Samsung,chromium,Android,NaN,49.15.91.224,False,NaN,0.0,301,NaN,12696.0,0.0

In [76]:
df.rename(columns={c: c.replace(' ', '') for c in df.columns})

,ID,Country,Carrier,TrafficType,ClickDate,Device,Browser,OS,RefererUrl,UserIp,ConversionStatus,ConversionDate,ConversionPayOut,publisherId,subPublisherId,advertiserCampaignId,Fraud
1,0,IN,2.0,M,2017-08-21 00:00:01,Google,chrome,Android,NaN,42.111.171.131,False,NaN,0.0,69,NaN,6555.0,0.0

In [119]:
%%bash
ls -ltra --block-size=G ./dataset

total 11G
-rw-rw-r-- 1 raavan raavan 7G Sep 14 07:29 train.csv
-rw-rw-r-- 1 raavan raavan 3G Sep 14 10:38 test.csv
-rw-rw-r-- 1 raavan raavan 1G Oct 11 21:10 Sample_Submission_tX8U7eD.csv
-rw-rw-r-- 1 raavan raavan 1G Oct 11 21:44 test.zip
-rw-rw-r-- 1 raavan raavan 2G Oct 11 23:03 train.zip
-rw-rw-r-- 1 raavan raavan 1G Oct 11 23:44 data_click_description.png
-rw-rw-r-- 1 raavan raavan 1G Oct 11 23:46 image1.png
-rw-rw-r-- 1 raavan raavan 1G Oct 11 23:46 image2.png
-rw-rw-r-- 1 raavan raavan 1G Oct 11 23:46 problem_statement
-rw-rw-r-- 1 raavan raavan 1G Oct 11 23:47 data_desc
-rw-rw-r-- 1 raavan raavan 1G Oct 12 18:11 tmp.csv
drwxrwxr-x 2 raavan raavan 1G Oct 12 18:11 .
drwxrwxr-x 5 raavan raavan 1G Oct 14 06:27 ..

In [117]:
%%bash
free -m

              total        used        free      shared  buff/cache   available
Mem:           7852        3106        2015         313        2731        4080
Swap:         16120         746       15374

create table ads (
    id INT NOT NULL,
    country VARCHAR(10),
    carrier INT,
    traffic_type VARCHAR(10),
    click_date DATE,
    device VARCHAR(20),
    browser VARCHAR(20),
    os VARCHAR(20),
    referer_url VARCHAR(1000),
    user_ip VARCHAR(20),
    conversion_status BOOLEAN,
    conversion_date DATE,
    conversion_payout INT,
    publisher_id INT,
    sub_publisher_id INT,
    advertiser_campaign_id INT,
    fraud INT,
    PRIMARY KEY (id)
);

LOAD DATA INFILE '/data/competitions/click_prediction/dataset/train.csv'
INTO TABLE ads
FIELDS TERMINATED BY ','
LINES TERMINATED BY '\n'
IGNORE 1 ROWS
(id,country,carrier,traffic_type,@click_date,device,browser,os,referer_url,user_ip,conversion_status,@conversion_date,conversion_payout,publisher_id,sub_publisher_id,advertiser_campaign_id,fraud)
SET click_date = STR_TO_DATE(@click_date, '%m/%d/%Y')
SET conversion_date = STR_TO_DATE(@conversion_date, '%m/%d/%Y');

In [11]:
df = pd.read_sql_query("SELECT count(*) FROM 'table'", csv_database)

In [13]:
import sqlite3

In [15]:
conn = sqlite3.connect("csv_database.db")
cur = conn.cursor()

In [18]:
cur.execute("select * from 'table' limit 5;")

In [19]:
results = cur.fetchall()

In [28]:
results

[(1, 0, 'IN', 2.0, 'M', '2017-08-21 00:00:01', 'Google', 'chrome', 'Android', None, '42.111.171.131', 0, None, 0.0, '69', None, 6555.0, 0.0), (2, 1, 'TH', 27.0, 'A', '2017-08-21 00:00:01', 'Generic', '46.0.2490.76', 'Android', None, '1.46.235.65', 0, None, 0.0, '646', None, 7510.0, 0.0), (3, 2, 'IN', 4.0, 'M', '2017-08-21 00:00:01', 'Samsung', 'chromium', 'Android', None, '49.15.91.224', 0, None, 0.0, '301', None, 12696.0, 0.0), (4, 3, 'PH', -1.0, 'A', '2017-08-21 00:00:01', 'Generic', 'android_webkit', 'Android', None, '115.42.126.86', 0, None, 0.0, '242', None, 735.0, 0.0), (5, 4, 'MX', -1.0, None, '2017-08-21 00:00:01', 'Generic', 'chrome', 'Android', None, '187.161.11.97', 0, None, 0.0, '1306', None, 7802.0, 0.0)]

In [30]:
cur.close()
conn.close()

In [ ]:
import dask.dataframe as dd

In [36]:
test = pd.read_csv(data_file, chunksize=100, iterator=True)